TMDB_READ_ACCESS_TOKEN=seu-token-tmdb-aqui
FIREBASE_PROJECT_ID=seu-projeto-firebase-aqui
FIREBASE_CLIENT_EMAIL=seu-email-firebase-aqui
FIREBASE_PRIVATE_KEY="seu-private-key-firebase-aqui"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=seu-cloud-name-aqui
CLOUDINARY_API_KEY=sua-api-key-aqui
CLOUDINARY_API_SECRET=seu-token-secreto-aqui
